

/* Font Imports Baloo for Navigation (28px) p *put lower if necessary / Montserrat for Headers 72px (h1) Nunito p 16px/ Rubik used for logo
–––––––––––––––––––––––––––––––––––––––––––––– */


@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --main-bg-color: #ffffff ;
    --foreground-color:#000;
    --logo-color: #ffb6c1;
    --highlight-color:#fff2ac;
    --blue: ##96daea;
}
/* General Formatting
–––––––––––––––––––––––––––––––––––––––––––––– */

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.55;
    font-family: 'Baloo Chettan 2', Arial, Helvetica, sans-serif;
    
}
.intro-artstyle {
    margin-top: 1em;
    max-width: 50em;
    min-width: 40em;
    max-height: 40em;
    border-radius: 100% 10% 100% 10%;
    background-color: white;
    margin-top: 1em;
    margin-bottom:5em;
}

.intro-artstyle:hover{
    border-radius: 10% 100% 10% 100%;
    transition-duration: .5s;
    background-color: var(--logo-color);

}

.bottom-border{
    border-bottom: solid;
    border-bottom-width: .5em;
    border-color: rgba(0, 0, 0, 0);

}

.bottom-border:hover{
    transition-duration: .5s;
}


.monthly {
    font-size: 2.1em;
    padding: 0.1em;
    color: black;
    letter-spacing: 0.047em;
    margin-top: 25px;
    margin-left: 15px;
}
.bg-clr {
    color: white;
    border: 4px solid #000;
    border-radius: 20px;
}
.bg-clr {
    color: black;


}
.grid-lol {
    margin-top: 25px    ;
}


.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px black solid;

}

.blackline {

    border-top: 4px black solid;
    margin-bottom: 12px;
}

.blackline-menu {
    border-top: 4px black solid;
}

/* Logo Stuff -> I removed icons, sorry Rocco :(
–––––––––––––––––––––––––––––––––––––––––––––– */
.logo-wrapper{
    display:grid;
    
}

.brand-logo{
top: -10px;
width: 55px;
padding-top:1.5em;
padding-bottom:1.5em;
margin-left: 10px;
position: absolute;
}
.logo-name {
    position: relative;
    top: 49px;
    left: 70px;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    letter-spacing: 1.36px;
    word-spacing: 1px;
    color: var(--logo-color);
    
}
/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––– */
.header-primary {
    background-color: #ffff;
}
.intro-header {
    text-align: left;  
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;

}

/* Menu Stuff
–––––––––––––––––––––––––––––––––––––––––––––– */
.nav-wrapper{
    color: white;
}
a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.nav-wrapper {
    text-align: center;
    font-size: 1.5em;
    display: block;
}
.mm {
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

.menu a:hover{
    color: var(--logo-color);
    animation-delay: 5s;  
}

.menu {
    line-height: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 12px;    
    display: inline-block;
    list-style-type: none;
    position: relative;
    top: -29px;
}
.menu a {
    margin: 0 10px;
}
.menu li {
    font-size: 14px;
    font-weight: 700;
}


.social-stuff {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-nav {
    text-transform: lowercase;
    text-align: right;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2 h3, h4, h5, h6 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.015em;
    text-transform: capitalize;
}

.blacklinehead {
    
    border-top: 4px black solid;
    margin-bottom: 12px;
}

.title {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    border-bottom: 4px black solid;
    font-size: 10em;
}
.author {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
}
/* Images
–––––––––––––––––––––––––––––––––––––––––––––– */
.comic-time {
    width: 500px;
    position: relative;
}
.footer-logo {
    width: 35px;
    float: right;
    margin-top: -52px;
    margin-right: 141px;
}


.spacer{
    display:grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 1fr;
    margin-left:1em;
    padding-bottom:8em;
    padding-top:4em;
    position: relative;
}

.illust {
    width:80em;
    grid-column-start: 2;
    grid-row-start: 1;
    position: absolute;
    left:65em;
    top:-13em;
    display:none;
    opacity: 0%;
}

.ope{
    grid-column-start: 2;
    grid-column-end: 3;    
    grid-row-start: 1;
    font-size:4em
}

.ope-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    font-size:3em;
}



/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */
.footer-links {
     background-color: var(--main-bg-color);
}
.footer-align {
    text-align: center;
    margin: 15px 0;
    }
    .main-footer {
        line-height: 20.5px;
        padding-top: 5px; 
    }
    .copyright-info {
        text-align: center;
        padding: 5px;
        text-decoration: underline;
    }
    .terms {

        font-size: 1.2em;
        margin-right: 1em;
        line-height: 1.5em;
        color: white;
        list-style-type: none;
        text-align: left;
        margin-top: -34px;
        margin-left: -6px;
    }

    .c-right {
        padding: 0.8em;
        text-align: center;
        line-height: 1.5;
        border-bottom: 1px solid #f7f7f7;
        font-size: 0.76em;
        color: darkgrey;
    }
.mda {
    padding: 0.010em;
    margin: 0 0.7em 0 0;
}
    .media-list ul{
        text-align: center;
        display: inline;
    }
    .fuckyou li{
        display: inline;
    }
    .footer-notice {
        display: block;
        text-align: center;
        color: #fff;
        background-color: var(--logo-color);
    }
    .ss {
        width: 20px;
    }
    .mda {
        display: grid;
    }
    .fy {
        margin-top: 52px;
        margin-left: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .fy li {
        display: inline;
        padding: 0.5em; 
    } 
    .styleline {
        border-top: 3px solid var(--foreground-color);
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer-whitespace {
        margin-top: 60px;
        overflow-y: scroll;
overflow-x: hidden;
    }
    .demo {
        float: right;
        margin-top: -22px;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    }
    .wftr {
        margin-bottom: 50px;
    }
/* Media Queries + Grids
–––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width:500px) {
    .terms li { 
        display: inline;
        padding: 1em;
    }
    }
    .terms {
        font-size: 1.4em;
    }
    .bg-clr {
        border-width: 5%;
    }
    
    
    @media screen and (min-width:768px) { 

        .terms {
            font-size: 1.5em;
        }
        .c-right {
            font-size: 0.90em;
        }
        .fy {
            text-align: left;
        }
    }

    @media screen and (min-width:1024px)  {
        .c-right {
            font-size: 0.98em;
        }
    
    
    }